<settings>
   <category label="Genel">
		<setting id="downloadFolder" type="folder" source="files" label="Download Location"  option="writeable" default=""/>
	</category>
	<category label="YouTube">
		<setting id="quality" label="Preferred Video Quality" type="enum" default="0" lvalues="30020|30021|30022|30023"/>
	</category>
</settings>
